<div>{% if heading_title %}

	<div class="left-block">
		<div class="left-block-first clearfix left-fa">
			<div class="left-block-wrapper">
				<div class="left-allign">
					<i class="fa fa-truck"></i>
					<h3>Бесплатная доставка</h3>
				</div>
			</div>
		</div>

		<div class="p-cont p-cont1">
			<p>Доставка по Набережным Челнам в день заказа абсолютно бесплатна</p>
		</div>

	</div>


	<div class="left-block">
		<div class="left-block-second clearfix left-fa">
			<div class="left-block-wrapper">
				<div class="left-allign">
					<i class="fa fa-rub"></i>
					<h3>Оптимальные цены</h3>
					
				</div>
				
			</div>
		</div>
		<div class="p-cont p-cont2">
			<p>Самые низкие цены в Татарстане. Без переплат и прочих "радостей"</p>
		</div>
	</div>

	<div class="left-block">
		<div class="left-block-third clearfix left-fa">
			<div class="left-block-wrapper">
				<div class="left-allign">
					<i class="fa fa-thumbs-up"></i>
					<h3>Лучшее качество</h3>
				</div>
			</div>
		</div>
		<div class="p-cont p-cont3">
			<p>Оригинальное спортивное питание от производителя. Весь товар сертифицирован.</p>
		</div>
	</div>


		{% endif %}
		{{ html }}
	</div>
