<div>{% if heading_title %}
	<a href="#" class="first_adv_link">
		<div class="first_adv clearfix adv">
			<i class="fa fa-truck"></i>
			<div class="adv-wrapper">
				
					<h3>Бесплатная доставка</h3>
					<p>Доставка по Набережным Челнам абсолютно бесплатна.</p>
				
			</div>
		</div></a>

	<a href="#" class="first_adv_link">
		<div class="second_adv clearfix adv">
			<i class="fa fa-truck"></i>
			<div class="adv-wrapper">
				
					<h3>Бесплатная доставка</h3>
					<p>Доставка по Набережным Челнам абсолютно бесплатна.</p>
				
			</div>
		</div></a>

	<a href="#" class="first_adv_link">
		<div class="third_adv clearfix adv">
			<i class="fa fa-truck"></i>
			<div class="adv-wrapper">
				
					<h3>Бесплатная доставка</h3>
					<p>Доставка по Набережным Челнам абсолютно бесплатна.</p>
				
			</div>
		</div></a>


		{% endif %}
	{{ html }}</div>
