@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.advantage
		p
			font-size: 16px
			line-height: 1.4
	div.adv
		padding-right: 22px
		padding-left: 22px
		.adv-wrapper
			width: auto
			display: inline-block
			text-align: center
			.left-allign
				width: auto
				float: none
				display: inline-block
				text-align: center
	/*.adv
		padding-right: 5px
		height: 125px
		i
			margin-top: 20px
			font-size: 22px
		.adv-wrapper
			margin-left: 50px
		p
			font-size: 14px
		h3
			font-size: 15px*/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.advantage
			p
				font-size: 15px
				line-height: 1.3
	/*.adv
		padding-right: 5px
		height: 75px
		i
			margin-top: 25px
			font-size: 22px
		.adv-wrapper
			margin-left: 50px
		p
			display: none
		h3
			margin: 0
			font-size: 15px*/

	.fassoft
		text-align: center
		img
			width: 80%
			display: inline-block
	.header-phone
		font-size: 14px
		border: none
		margin-top: 2px
	#cart
		button
			font-size: 15px
	.main-footer
		.footer-cnt
			> .container
				> .row
					>div:last-child
						border: none
		.nav-social
			text-align: center
			li
				a
					font-size: 30px
		.logo
			text-align: center
			a
				display: inline-block
				img
					display: inline-block


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/*.vertical-allign
		padding-left: 15px*/
	.fassoft
		text-align: center
		img
			//margin-left: -10px
			width: 60%
			display: inline-block
	#search
		margin: 10px 0 0 0
	.top-menu
		.navbar
			margin-left: 0
	.cart-wrapper
		padding-left: 14px
	.top-menu 
		.cart-wrapper 
			.dropdown-menu
				width: 100%
	/*.vertical-allign
		margin-top: 2*/
	.main-footer
		.footer-cnt
			> .container
				> .row
					>div:last-child
						border: none
		.nav-social
			text-align: center
			//padding-top: 9px
			li
				a
					font-size: 30px
		.logo
			text-align: center
			a
				display: inline-block
				img
					display: inline-block


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.product-layout 
		h4 
			margin-bottom: 0
			a
				font-size: 18px
		.price
			margin-top: 0	
			font-size: 19px
		button, .button
			font-size: 17px
			&.toclick
				font-size: 15px



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	#content .swiper-viewport
		display: none
	.product-layout 
		h4 
			margin-bottom: 0
			a
				font-size: 17px
		.price
			margin-top: 0
			font-size: 17px
		button, .button
			font-size: 14px
			&.toclick
				font-size: 13px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.search
		padding-right: 0
	.dropdown-menu
		left: -15px
		font-size: 16px


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/