@import "bourbon"
@import "vars"
@import "fonts"
@import "catalog/view/theme/apple/stylesheet/mfp-zoom-in"
//Custom styles here
input:-webkit-autofill
	color: #2a2a2a !important;

.advantage
	position: relative
	margin-bottom: 20px
	cursor: pointer
	p
		line-height: 1.5
		color: #fff
		font-family: MyriadSetProText, sans-serif	
		font-size: 17px
		margin: 0
	.p-cont
		position: relative
		top: 0
		left: 0
		padding: 25px
		overflow: hidden
		display: none
	.p-cont1
		background-color: $accent2
	.p-cont2
		background-color: $accent
	.p-cont3
		background-color: $grey
	.p-cont-display
		display: block
		&-ab
			position: absolute
	.first_adv-display
		position: absolute

.adv
	width: 100%
	height: 80px
	background: $accent
	padding-right: 5px
	padding-left: 5px
	color: #fff
	font-size: 17px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	.adv-wrapper
		margin: auto
		width: 210px
		.left-allign
			display: block
			float: left
			width: 100%
		i
			font-size: 26px
			display: inline-block
			margin-right: 10px
			vertical-align: middle
		h3
			font-size: 18px
			display: inline-block
			font-family: MyriadSetProSemiBold, sans-serif	
			margin: 0
			vertical-align: middle
			margin-top: 3px


.adv
	background-color: $accent2
	&:hover
		background-color: lighten($accent2, 5%)

.second_adv
	background-color: $accent
	transition: all 0.35s ease
	&:hover
		background-color: lighten($accent, 5%)

.third_adv
	background-color: lighten($grey, 10%)
	transition: all 0.35s ease
	&:hover
		background-color: lighten($grey, 20%)



body
	font-family: MyriadSetProText, sans-serif
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	overflow-x: hidden

ul.col-md-3
	margin: 0

header
	background-color: $grey
	padding: 8px 0
	.dropdown
		display: inline-block
		padding-top: 4px
		a.dropdown-toggle
			color: #999
			font-size: 16px
			margin-top: 3px 0 0
			padding: 8px 0 4px
			display: block
			&:hover, &:active, &:focus
				color: #fff
				text-decoration: none
	.logo
		margin-top: 7px

.dropdown-menu
	border-radius: 0
	border: none
	margin-top: 11px
	left: 0
	>li
		>a
			padding: 5px 20px 4px
			&:focus, &:hover
				background-color: $accent
				color: #fff


	
.header-phone
	display: inline-block
	color: #fff
	float: right
	font-size: 16px
	padding: 12px 0 7px 7px
	border-left: 2px solid #444
	font-family: MyriadSetProSemiBold, sans-serif

.form-control
	&:focus
		box-shadow: none

#search
	width: 100%
	margin-top: 6px
	.form-control
		padding: 5px 16px
		height: 35px
		border: 0
			radius: 0
		background-color: #444	
		color: #999
		font:
			style: italic
			size: 	15px
		transition: background-color .25s ease, box-shadow .25s ease, color .25s ease
		box-shadow: transparent 0 0 0 1px inset
		&:focus, &:hover
			background-color: #555
			box-shadow: $accent 0 0 0 1px inset
			color: $accent

	.input-group-btn
		position: absolute
		right: 33px
		.btn
			padding: 8px 10px
			border: none
				radius: 0
			background-color: transparent
			color: $accent
			font:
				size: 15px			

.navbar-top
	margin-left: -5px
	font-size: 18px
	margin-bottom: 0
	li
		a
			padding-top: 15px
			padding-right: 20px
			font-size: 18px
			color: lighten($grey, 5%)
			font-family: MyriadSetProText, sans-serif
			transition: all .25s ease
			&:hover, &:focus, &:active
				text-decoration: none
				background: none
				color: $accent

#cart
	button
		background-color: $accent
		color: #fff
		font-family: MyriadSetProText, sans-serif
		font-size: 17px
		border: 
			radius: 0
		padding: 14px 0
.cart-wrapper
	padding-left: 0
.toggle-top-text
	text-transform: uppercase
	display: inline-block
	color: $grey
	font-family: MyriadSetProThin, sans-serif
	padding: 13px 0
	font-size: 18px
.navbar-toggle
	margin-right: 0

.top-menu
	border-bottom: #EDEDED 1px solid
	padding-left: 0
	margin-bottom: 20px
	.cart-wrapper
		.dropdown-menu
			width: 460px
			padding: 10px
			tr
				background-color: #fff
			a 
				font-size: 17px
				color: $grey
				font-family: MyriadSetProSemiBold, sans-serif
				text-decoration: none
				&:hover
					border-bottom: $grey 1px solid
				strong
					font-size: 17px
					color: $accent
					padding: 0 10px
					&:hover
						border-bottom: $accent 1px solid
	


#cart button + .dropdown-menu
	.btn-danger
		background-color: #fff
		border: none
		color: $accent

.swiper-viewport
	border: none
	box-shadow: none
	margin-bottom: 15px


.swiper-button-next, .swiper-button-prev
	&:before
		font-size: 22px
		opacity: 1
		color: #fff
.swiper-button-next
	&:before
		margin-left: -10px
.swiper-button-prev
	&:before
		margin-left: 15px

#column-left
	.list-group-item
		font-size: 17px
		padding: 12px 15px
		border:
			color: #ededed
			bottom: 1px transparent solid
			top: 1px transparent solid
		border-left: 2px #ddd solid
		border-right: 2px #ddd solid
		&:first-child
			border-radius: 0
			border-top: 2px #ddd solid
		&:last-child
			border-radius: 0
			border-bottom: 2px #ccc solid
		transition: all .2s ease
		&:hover, &:active, &:focus
			background-color: $accent
			color: #fff
			text-indent: 15px
		&:focus
			background-color: #fff
			color: $grey
			text-indent: 0
	.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
		background-color: $accent2
		text-indent: 10px

#common-home
	#content
		h3
			text-align: center
			font-size: 30px
			font-family: MyriadSetProThin, sans-serif
			margin-top: 20px

.product-layout, .col-xs-6
	>.product-thumb
		border: transparent 
		transition: box-shadow .25s ease
		padding: 25px 0 0
		text-align: center
		.image
			padding: 0 15px
		&:hover
			box-shadow: lighten($accent, 35%) 0 0 0 2px inset
	.caption
		padding: 0 25px
		p
			display: none	
			&.price
				display: block
		.rating
			display: none
	h4
		margin-top: 20px
		margin-bottom: 5px
		a
			color: $grey
			font-size: 22px
			font-family: MyriadSetProText, sans-serif
			&:hover, &:focus
				text-decoration: none
				border-bottom: $grey 1px solid
	.price
		font-size: 20px
		font-family: MyriadSetProSemiBold, sans-serif
		color: $accent
		.price-old
			font-size: 15px
			text-decoration: line-through
			color: lighten($grey, 20%)
		.price-new
			color: $accent
	.button-group
		margin-bottom: 20px
		> * 
			display: none
			&:first-child
				display: block		
			&.toclick
				display: block
	button, .button
		> span
			display: inline!important
		border: none
		background-color: $accent
		color: #fff
		width: 100%
		padding: 10px 0
		font-size: 20px
		font-family: MyriadSetProText, sans-serif
		transition: background-color .25s ease
		outline: none
		&:hover, &:focus
			background-color: darken($accent, 7%)
			text-decoration: none
		&:active
			background-color: darken($accent, 7%)
		.fa
			display: none

		&.toclick
			overflow: hidden
			position: relative
			background-color: #fff
			border: $accent 1px solid
			padding: 11px 0
			transition: border .3s ease-in-out
			cursor: pointer
			a
				font-size: 17px
				color: $grey
				text-decoration: none
				z-index: 2
				position: relative
				transition: color .3s ease-in-out
			.pytin
				background-color: $accent2
				z-index: 1
				height: 0
				position: absolute
				bottom: 0
				left: 0
				width: 100%
			&:hover
				background-color: #fff
				border: darken($accent2, 8%) 1px solid
				.pytin
					animation: turning .22s  ease-in-out 0s 1 normal forwards
				a
					color: #fff
				




@keyframes turning
	0% 
	    height: 0
	    border: $accent2 1px solid
	    box-shadow: 0 7px 16px 5px darken($accent2, 1%) inset; 
	25% 
	    height: 25%
	    border: $accent2 1px solid
	    box-shadow: 0 7px 16px 5px darken($accent2, 2%) inset; 
	50% 
	    height: 50%
	    border: $accent2 1px solid
	    box-shadow: 0 7px 16px 5px darken($accent2, 4%) inset; 
	75% 
	    height: 75%
	    border: $accent2 1px solid
	    box-shadow: 0 7px 16px 5px darken($accent2, 6%) inset; 
	100% 
	    height: 100%
	    border: darken($accent2, 8%) 1px solid
	    box-shadow: 0 7px 16px 5px darken($accent2, 8%) inset; 



.alert
	border-radius: 0
	background-color: lighten($grey, 10%)
	color: #fff
	font-size: 16px
	a
		color: $accent
	button.close
		color: #fff
		opacity: 1
		text-shadow: none
		&:hover
			color: $accent


/*.vertical-allign
	margin-top: 8px
	nav.footer-menu
		ul.nav
			margin-top: 2px*/

.main-footer
	background-color: $grey
	margin-top: 60px
	.logo
		img
			width: 100%
	.footer-cnt
		padding: 20px 0
		height: auto
		
	.footer-menu
		ul
			margin: 0
			padding: 0
			width: 100%
			display: block
			text-align: center
			li
				display: inline-block
				font-size: 17px
				float: none
				a
					color: #fff
					display: block
					padding: 10px 14px
					transition: all .25s ease
					&:hover, &:focus
						color: $accent
						background-color: transparent
						text-decoration: underline

.nav-social
	padding: 6px 0
	text-align: center
	ul,li
		padding: 0
		margin: 0
	li
		display: inline-block
		a
			color: #fff
			font-size: 30px
			padding: 0 5px	
			transition: color .25s ease
			&:hover, &:focus
				color: $accent

.footer-phone
	background-color: darken($grey, 4%)
	color: #fff
	padding: 15px 0 15px
	.site-phone
		font-size: 30px
		margin-top: 8px
		line-height: 1.2
	.site-phone_wrap
		text-align: center
		font-family: MyriadSetProThin, sans-serif
	.callback
		color: $accent
		text-decoration: none
		font-size: 19px
		border-bottom: $accent 1px dashed
		transition: border-bottom .25s ease, color .25s ease
		&:hover, &:focus
			color: lighten($accent, 10%)
			border-bottom: none

.mfp-content
	.product-popup
		display: block
		h2
			margin-top: 25px
		.price-tax, .price-old
			display: none
	.pp-img-wrap
		text-align: center
		img
			max-width: 100%
			width: 100%
	.pp-content
		h3
			text-align: center
			font-family: MyriadSetProThin, sans-serif
			margin: 20px 0 8px
		p
			font-size: 21px
			color: $accent
			margin: 0 0 20px
		.form-control-cnt
			position: relative
		.form-control
			margin-bottom: 15px
	p
		text-align: center
	.mfp-img
		background-color: #fff


.product-popup
	background-color: $grey
	max-width: 320px
	position: relative
	margin: auto
	padding: 15px
	color: #fff
	display: none
	h2
		margin-top: 15px
		margin-bottom: 10px
		font-size: 28px
		text-align: center
		font-family: MyriadSetProThin, sans-serif
		color: $accent
	p
		text-align: center
		margin-bottom: 10px
		font-size: 16px
	.quick-buy-descr
		font-size: 15px
		margin-bottom: 15px
		margin-top: 0
	.form-control-cnt
		position: relative
		margin-bottom: 15px
	.form-control
		//padding:  16px
		//margin-bottom: 5px
		height: 35px
		color: #999
		border: 0
			radius: 0
		background-color: #444	
		font:
			style: italic
			size: 	16px
		transition: background-color .25s ease, box-shadow .25s ease, color .25s ease
		box-shadow: transparent 0 0 0 1px inset
		&:focus, &:hover, &:visited
			background-color: #222
			box-shadow: $accent 0 0 0 1px inset
			color: $accent
	.btn-primary
		width: 100px
		text-align: center
		height: 35px
		position: absolute
		top: 0
		right: 0
		border: none
			radius: 0
		background-color: $accent
		color: #fff
		font:
			size: 18px
		transition: background-color .25s ease
		&:hover, &:focus
			background-color: lighten($accent, 7%)
	.success
		text-align: center
		font-size: 22px
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: $grey
		text-transform: uppercase
		padding: 80% 10% 10%
		color: #ddd
		display: none


.callback-form
	.success
		padding-top: 28%


.fassoft
	img
		width: 100%

.vertical-allign-cnt
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.vertical-allign
	margin: auto
	line-height: 1

.breadcrumb
	display: none

#content
	h1
		margin-top: 0
		margin-bottom: 20px
		font-family: MyriadSetProThin, sans-serif

.product-count
	padding-left: 0
	margin-top: -55px

.input-group .form-control:last-child, .input-group-addon:first-child
	border-radius: 0

label.input-group-addon
	background-color: $accent2
	color: #fff
	border: none

select.form-control
	background-color: #fff
	border: $accent2 1px solid
	color: $accent2


ul.pagination
	li
		&.active span
			background-color: $accent2
			border: none
		a
			color: $accent2
			&:hover
				color: $accent2
		&:first-child span, &:last-child a, &:first-child a, &:last-child span
			border-radius: 0

.egg
	width: 20px
	height: 20px
	position: relative
	img
		position: absolute
		bottom: -60px
		right: -150px
		z-index: -1
.egg-img-a
	display: block
	animation: egg .25s  ease-in-out 0s 1 normal forwards
.egg-img-out
	animation: egg-out .25s  ease 0s 1 normal forwards

@keyframes egg
	0% 
	    bottom: -60px
	80%
			z-index: -1  
	100% 
	    bottom: 50px
	    z-index: 25
@keyframes egg-out
	0% 
	    bottom: 50px
	80%
			z-index: -1    
	100% 
	    bottom: -60px
	    

.search-fixed-bottom
	margin-bottom: 331px
/*[data-original-title], #compare-total, [for='input-limit'], #input-limit
	display: none*/

.list-unstyled
	h2
		color: $accent
	li
		a
			color: $accent2
.form-group
	select.form-control
		color: lighten($grey, 10%)
		border-radius: 0
		border-color: lighten($grey, 60%)
		font-size: 15px
	input.product_count
		width: 22%
		height: 40px
		font-size: 17px
		float: left
		text-align: center
		border-radius: 0
		&:hover, &:focus
			border-color: $accent
	button.btn-primary
		margin-bottom: 20px
		border: none
		background-color: $accent
		color: #fff
		width: 70%
		float: right
		padding: 7px 0
		font-size: 18px
		font-family: MyriadSetProText, sans-serif
		transition: background-color .25s ease
		outline: none
		border-radius: 0
		&:hover, &:focus
			background-color: darken($accent, 7%)
			text-decoration: none
		&:active
			background-color: darken($accent, 7%)

.thumb-cnt
	clear: both
	padding-left: 10px
	a
		border-radius: 0
		&:hover, &:focus, &:active
			border-color: $accent

.nav-tabs
	li
		a
			color: $grey

@import "media" 

